.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #b872ae;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: auto;
  background-color: #b872ae;
}

.nav-menu {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.image {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link {
  border: 1px none #000;
  font-size: 16px;
}

.nav-link.w--current {
  font-size: 14px;
}

.slide {
  position: relative;
  min-height: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-image: url('../images/Big-Mansion-med.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.slide-2 {
  background-image: url('../images/Tiny-House.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.slider {
  height: 100vh;
  min-height: 850px;
}

.slide-3 {
  background-image: url('../images/Rural.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.text-block-5 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.section {
  min-height: 0px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  margin-right: 40px;
}

.section-2 {
  background-image: url('../images/Beautiful-Background.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-4 {
  display: block;
  padding: 40px 20px 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(0, 0, 0, 0.84);
}

.heading-3 {
  color: #fff;
}

.heading-4 {
  color: #b872ae;
}

.paragraph-4 {
  color: #fff;
}

.div-block-3 {
  color: #fff;
}

.paragraph-5 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-6 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.text-span {
  color: #b872ae;
}

.text-span-2 {
  color: #b872ae;
}

.paragraph-7 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-8 {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.text-span-3 {
  color: #b872ae;
}

.text-span-4 {
  color: #b872ae;
}

.heading-5 {
  color: #b872ae;
}

.container-5 {
  margin-top: 140px;
  margin-bottom: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  margin-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border: 3px solid #b872ae;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  text-align: left;
}

.div-block-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.div-block-5 {
  background-color: rgba(122, 228, 238, 0.2);
  text-align: center;
}

.div-block-6 {
  background-color: rgba(122, 228, 238, 0.2);
  text-align: center;
}

.div-block-7 {
  background-color: rgba(122, 228, 238, 0.2);
  text-align: center;
}

.div-block-8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b872ae;
  text-align: center;
}

.text-block-10 {
  min-height: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
}

.text-span-5 {
  color: #b872ae;
}

.text-span-6 {
  color: #b872ae;
}

.text-span-7 {
  color: #b872ae;
}

.div-block-9 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-3 {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 500px;
  background-image: url('../images/Beautiful-Background-2-with-map.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-span-8 {
  color: #b872ae;
}

.paragraph-10 {
  color: #fffcfc;
  font-size: 20px;
}

.text-span-9 {
  color: #b872ae;
}

.paragraph-11 {
  color: #fff;
}

.text-span-10 {
  color: #b872ae;
}

.paragraph-12 {
  color: #fff;
}

.text-span-11 {
  color: #b872ae;
}

.container-6 {
  text-align: center;
}

.paragraph-13 {
  margin-right: 140px;
  margin-left: 140px;
}

.list-item {
  margin-left: 140px;
  text-align: left;
}

.list-item-2 {
  margin-left: 140px;
  color: #333;
  text-align: left;
}

.list-item-3 {
  margin-left: 140px;
  text-align: left;
}

.text-span-12 {
  color: #b872ae;
}

.text-span-13 {
  color: #b872ae;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-14 {
  color: #b872ae;
}

.section-4 {
  background-image: url('../images/ADA-Background.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 500px;
  margin-left: 220px;
  background-color: rgba(0, 0, 0, 0.44);
}

.paragraph-14 {
  margin-bottom: 0px;
  color: snow;
  font-size: 20px;
}

.heading-7 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 40px;
}

.heading-8 {
  color: #fff;
}

.paragraph-15 {
  color: #fff;
}

.heading-9 {
  margin-top: 0px;
  color: #fff;
}

.heading-10 {
  color: #fff;
}

.paragraph-16 {
  padding-bottom: 60px;
  color: #fff;
  font-size: 20px;
}

.text-span-15 {
  color: #b872ae;
}

.text-span-16 {
  color: #b872ae;
}

.text-span-17 {
  color: #b872ae;
}

.body {
  color: #b872ae;
  font-size: 0px;
  font-weight: 700;
}

.nav-link-2 {
  padding-left: 20px;
}

.nav-link-2.w--current {
  font-size: 16px;
}

.nav-link-3 {
  font-size: 14px;
}

.nav-link-4 {
  font-size: 14px;
}

.nav-link-5 {
  font-size: 14px;
}

.nav-link-6 {
  font-size: 14px;
}

.link-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  text-align: center;
  text-decoration: none;
}

.paragraph-20 {
  font-size: 48px;
}

.column-1 {
  position: relative;
  text-align: center;
}

.div-block-16 {
  background-image: url('../images/Family-Background.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.container-7 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.51);
}

.heading-14 {
  color: #fff;
}

.paragraph-21 {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}

.div-block-17 {
  margin-top: 40px;
  padding-left: 10px;
}

.div-block-18 {
  margin-top: 100px;
  padding-right: 60px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.link {
  color: #b872ae;
}

.column-2 {
  position: relative;
}

.div-block-19 {
  text-align: center;
}

.div-block-20 {
  margin-top: 40px;
}

.div-block-21 {
  margin-top: 40px;
}

.div-block-22 {
  margin-top: 40px;
}

.div-block-23 {
  text-align: center;
}

.container-8 {
  padding-top: 10px;
  text-align: center;
}

.div-block-24 {
  margin-bottom: 20px;
  text-align: center;
}

.paragraph-22 {
  margin-right: 140px;
  margin-left: 140px;
  padding-bottom: 10px;
  color: #141314;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.heading-15 {
  margin-bottom: 20px;
}

.slide-4 {
  background-image: url('../images/Community-slide-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.slider-2 {
  min-height: 850px;
  margin-right: 20px;
  margin-left: 20px;
}

.slide-5 {
  background-image: url('../images/Community-slide-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url('../images/Community-slide-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-26 {
  margin-top: 685px;
  margin-right: 220px;
  margin-left: 220px;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
}

.div-block-28 {
  margin-top: 685px;
  margin-right: 220px;
  margin-left: 220px;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
}

.section-5 {
  margin-top: 20px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  color: #000;
  font-size: 50px;
  text-decoration: none;
}

.column-3 {
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 #b872ae;
  opacity: 1;
  text-align: center;
  mix-blend-mode: normal;
}

.column-4 {
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 #b872ae;
  text-align: center;
}

.column-5 {
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 #b872ae;
  text-align: center;
}

.div-block-29 {
  text-align: center;
}

.heading-16 {
  color: #b872ae;
}

.div-block-30 {
  position: fixed;
  z-index: 4;
  display: none;
  width: 100vw;
  height: 100vw;
  background-color: rgba(184, 114, 174, 0.6);
}

.div-block-31 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50vw;
  height: 35vw;
  margin: auto;
  border-radius: 20px;
  background-color: #b872ae;
}

.div-block-32 {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.select-field {
  display: block;
  margin-bottom: 40px;
  border-radius: 20px;
}

.text-field {
  margin-bottom: 35px;
  border-radius: 20px;
}

.submit-button {
  display: block;
  width: 10vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.div-block-33 {
  margin: 40px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.text-field-2 {
  border-radius: 20px;
}

.text-field-3 {
  border-radius: 20px;
}

.div-block-35 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  cursor: pointer;
}

.image-13 {
  margin-top: 10px;
  margin-right: 10px;
}

.text-block-15 {
  font-size: 35px;
}

.div-block-36 {
  position: fixed;
  z-index: 5;
  display: none;
  width: 20vw;
  height: 5vw;
  margin-top: 220px;
  margin-left: 300px;
  border-radius: 20px;
  background-color: rgba(184, 114, 174, 0.76);
}

.div-block-37 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 300px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  border-radius: 20px;
  background-color: #fffdfd;
  text-align: center;
}

.text-block-16 {
  font-size: 20px;
}

.div-block-38 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.image-14 {
  border-radius: 20px;
}

.heading-18 {
  color: #b872ae;
}

.heading-19 {
  color: #161516;
  font-size: 32px;
  text-align: center;
}

.heading-20 {
  text-align: center;
}

.image-15 {
  display: inline-block;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-39 {
  width: 25vw;
  text-align: center;
}

.section-6 {
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

.div-block-40 {
  padding-right: 140px;
  padding-left: 140px;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-span-18 {
  color: #b872ae;
}

.text-span-19 {
  color: #b872ae;
}

.columns-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-41 {
  margin-right: 20px;
}

.section-7 {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.heading-21 {
  border: 1px solid #b872ae;
}

.heading-22 {
  border: 3px solid #b872ae;
  border-radius: 20px;
}

.column-9 {
  background-image: url('../images/Beautiful-Background-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-23 {
  color: #fff;
}

.paragraph-23 {
  color: #fffcfc;
  font-size: 18px;
}

.paragraph-24 {
  color: #fffdfd;
}

.paragraph-25 {
  color: #fff;
}

.heading-24 {
  color: #fffefe;
}

.paragraph-26 {
  color: #fffdfd;
}

.paragraph-27 {
  color: #fff;
}

.paragraph-28 {
  color: #fff;
}

.heading-25 {
  color: #fff;
}

.paragraph-29 {
  color: #fff;
  font-size: 18px;
}

.paragraph-30 {
  color: #fff;
}

.paragraph-31 {
  color: #fff;
}

.column-10 {
  background-image: url('../images/Realtor-2-Bac-Pic.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-11 {
  background-image: url('../images/Realtor-3-Bac-Pic.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-32 {
  font-size: 30px;
  line-height: 40px;
}

.paragraph-33 {
  font-size: 20px;
}

.paragraph-34 {
  font-size: 20px;
}

.paragraph-35 {
  font-size: 20px;
}

.paragraph-36 {
  font-size: 20px;
  line-height: 30px;
}

.paragraph-37 {
  font-size: 20px;
}

.hero-stack {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-10 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.paragraph-38 {
  font-size: 20px;
}

.paragraph-39 {
  font-size: 20px;
  line-height: 25px;
}

.paragraph-40 {
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    background-color: #b872ae;
  }

  .menu-button {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #b872ae;
  }

  .text-block-5 {
    font-size: 60px;
  }

  .heading-4 {
    font-size: 28px;
  }

  .section-3 {
    padding-left: 100px;
    background-image: url('../images/Beautiful-Background-2-with-map.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .div-block-10 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .paragraph-20 {
    font-size: 36px;
  }

  .column-1 {
    text-align: center;
  }

  .div-block-20 {
    margin-bottom: 10px;
  }

  .paragraph-22 {
    margin-right: 140px;
    margin-left: 140px;
    clear: left;
    font-size: 30px;
  }

  .div-block-26 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .div-block-28 {
    margin-top: 685px;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 1px 1px 3px 0 #000;
    text-align: center;
  }

  .bold-text {
    font-size: 45px;
  }

  .bold-text-2 {
    font-size: 45px;
  }

  .bold-text-3 {
    font-size: 45px;
  }

  .div-block-30 {
    display: none;
    height: 100%;
  }

  .div-block-31 {
    height: 70vw;
  }

  .div-block-32 {
    font-size: 24px;
  }

  .submit-button {
    width: 25vw;
  }

  .field-label {
    font-size: 14px;
  }

  .bold-text-4 {
    font-size: 20px;
  }

  .div-block-36 {
    display: none;
    width: 42vw;
    height: 10vw;
  }

  .div-block-40 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .container-10 {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    background-image: url('../images/Big-Mansion-med.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .text-block-5 {
    box-shadow: 1px 1px 3px 0 #000;
    font-size: 40px;
    text-align: center;
  }

  .section {
    min-height: 0px;
  }

  .container-3 {
    display: block;
    min-height: 0px;
    padding-right: 13px;
    padding-left: 13px;
  }

  .image-4 {
    max-width: 25%;
  }

  .section-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .button {
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-3 {
    padding-left: 60px;
  }

  .column-1 {
    text-align: center;
  }

  .div-block-22 {
    margin-bottom: 10px;
  }

  .paragraph-22 {
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 20px;
  }

  .div-block-28 {
    line-height: 350%;
  }

  .section-5 {
    margin-top: 60px;
  }

  .container-9 {
    padding-right: 20px;
  }

  .div-block-31 {
    height: 100vw;
  }

  .div-block-36 {
    display: none;
    width: 55vw;
    height: 13vw;
    margin-top: 275px;
    margin-left: 140px;
  }

  .section-6 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-40 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .columns-5 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .column-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    text-align: left;
  }

  .column-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .column-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-stack {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .slider {
    height: 55vh;
    min-height: 650px;
  }

  .text-block-5 {
    color: #fff;
    font-size: 175%;
  }

  .container-3 {
    display: block;
  }

  .heading-1 {
    font-size: 24px;
  }

  .heading-2 {
    font-size: 16px;
  }

  .div-block-8 {
    padding-bottom: 30px;
  }

  .text-block-10 {
    font-size: 25px;
  }

  .section-3 {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .paragraph-13 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .list-item {
    margin-right: 10px;
    margin-left: 0px;
  }

  .list-item-2 {
    margin-right: 10px;
    margin-left: 0px;
  }

  .list-item-3 {
    margin-left: 0px;
  }

  .paragraph-20 {
    font-size: 24px;
  }

  .div-block-14 {
    text-align: left;
  }

  .div-block-15 {
    text-align: left;
  }

  .div-block-22 {
    margin-bottom: 10px;
  }

  .paragraph-22 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }

  .div-block-26 {
    margin-top: 685px;
  }

  .div-block-28 {
    margin-top: 500px;
  }

  .column-3 {
    padding-top: 10px;
  }

  .column-4 {
    padding-top: 10px;
  }

  .column-5 {
    padding-top: 10px;
  }

  .heading-16 {
    margin-bottom: 0px;
  }

  .bold-text {
    font-size: 25px;
  }

  .bold-text-2 {
    font-size: 25px;
  }

  .bold-text-3 {
    font-size: 25px;
  }

  .div-block-30 {
    display: none;
  }

  .div-block-31 {
    width: auto;
    height: auto;
    margin: 100px 10px;
  }

  .div-block-33 {
    display: block;
    margin-top: 100px;
  }

  .div-block-36 {
    display: none;
    width: 98vw;
    height: 23vw;
    margin-left: 3px;
  }

  .container-10 {
    max-width: none;
  }
}



@media screen and (max-width: 1100px) {

  .formHeading{
      text-align: center;
      font-size: 3.5rem;
      padding: 7%;
  }

  .name,
  .email,
  .textArea{
      border: 1px solid black;
      min-width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 5%;
  }

  .name::placeholder,
  .email::placeholder,
  .textArea::placeholder{
      font-size: 1.25rem;
      padding-left: 5px;
  }


  .textArea{
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 100px;
  }

  .submitButton{
      margin-right: 20%;
      margin-left: 20%;
      min-width: 60%;
      padding-top: 15px;
      padding-bottom: 15px;
      background: #b872ae;
      margin-bottom: 20px;
      margin-bottom: 4.5%;
  }

  .submitButton:hover{
      cursor: pointer;
  }
  
  .submitButton span{
      color: whitesmoke;
      border-bottom: 1.5px solid whitesmoke;
      font-size: 1.5rem;
  }
}

 .formHeading{
      text-align: center;
      font-size: 3.5rem;
      padding: 2%;
  }

  .name,
  .email,
  .textArea{
      border: 1px solid black;
      min-width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 2%;
  }

  .name::placeholder,
  .email::placeholder,
  .textArea::placeholder{
      font-size: 1.25rem;
      padding-left: 5px;
  }


  .textArea{
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 100px;
  }

  .submitButton{
      margin-right: 15%;
      margin-left: 15%;
      min-width: 70%;
      padding-top: 15px;
      padding-bottom: 15px;
      background: #b872ae;
  }

  .submitButton:hover{
      cursor: pointer;
  }
  
  .submitButton span{
      color: whitesmoke;
      border-bottom: 1.5px solid whitesmoke;
      font-size: 1.5rem;
  }